.container{
    margin-top: 20px
}

.card{
    margin-top: 20px;
}

.card-header{
    background-color: rgb(89,206,193);
}

input{
    border-radius: 10px;
    height: 35px;
    width: 350px;
    border: 3px rgb(89,206,193) solid;
}

.contenedor{
    display: grid;
    grid-template-columns: auto auto auto;
}

.saldo{
    grid-column: 1/4;
}

.boton{
    display: grid;
    justify-content: end;
    align-content: center;

}

.dinero{
    color: rgb(89,206,193);
}

.boton button{
    height: 35px;
    width: 250px;
}

.input{
    display: grid;
    justify-content: center;
    align-content: center;
}